.dashboard{
    position: absolute;
    margin-left: 27%;
}

.data{
    display: flex;
}

.data_display{
    box-sizing: border-box;
    border-radius: 10px;
    border-style: groove;
    width: 450px;
    height: max-content;
    margin-left: 0px;
    margin-top: 60px;
    padding-bottom: 50px;
    padding-top: 20px;
    align-content: center;
}

.graph_display{
    box-sizing: border-box;
    border-radius: 10px;
    border-style: groove;
    width: 450px;
    height: 450px;
    margin-left: 25px;
    margin-right: 20px;
}

.sig{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

.significance{
    /* margin-left: 160px; */
    font-weight: bolder;
}



@media only screen and (max-width: 1024px) {

    .data_display{
        max-width: fit-content;
        max-height: fit-content;
        margin-left: 0px;
    }
     .graph_display{
        max-width: fit-content;
        max-height: fit-content;
    }

}