.main{
    display: flex;
    flex-direction: column;
}
.navbar{
    color: white;
    /* height: 100vh; */
    width: 20%;
    background: rgb(37,143,215);
    background: linear-gradient(180deg, rgba(0,156,177,1) 100%,rgba(37,143,215,1) 74%)
}

.nav_content:hover{
    background-color: #098ea0;
    font-weight: 700;
    cursor: pointer;
}
